.ItemCount{
    height: 80px;
    width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.ItemCount div button{
    margin-bottom: 10px;

}
.counter{
    width: 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.counter p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
    border-radius: 3px 3px 3px 3px black;
}
